@media screen and (max-width: 1200px) {
	.header__flag {
		margin-right: 10px;
	}

	.header__item {
		margin-right: 10px;
	}

	.need__item {
		margin-left: 20px;
		margin-bottom: 25px;
	}

	.need__icon {
		left: 70px;
	}

	.need__container {
		padding: 25px;
	}

	.need__title {
		margin-bottom: 25px;
	}

	.need__galery {
		margin: 25px 0;
	}

	.free__item {
		margin-right: 20px;
	}

	.free__item:nth-child(3) {
		margin-right: 0;
		width: 240px;
	}

	.free__item:nth-child(3) .free__text {
		margin: 30px 0 36px 0;
	}

	.free__item:nth-child(1) {
		width: 240px;
		padding: 21px 40px 33px 40px;
	}

	.free__item:nth-child(2) {
		width: 400px;
		padding-left: 50px;
		padding-right: 50px;
	}

	.free__button {
		width: auto;
		font-size: 16px;
	}

	.sent__name {
		margin-left: 0;

	}

	.sent__line_name {
		margin-left: 20px;

	}

	.sent__tel {
		margin-left: 0;

	}

	.sent__line_tel {
		margin-left: 20px;

	}
}
footer{
	padding: 50px 0px 68px 50px;
}

.footer__logo{

}


.footer__text{
	margin-left: 200px;
}
.map{
	width: 600px;
}



}

@media screen and (max-width: 990px){
	.ask{
	margin-bottom: 100px;
}
	.what__title{
		margin:25px 0;
	}
	.what__text:nth-child(2){
		margin-bottom: 25px;
	}
	.team__title{
		margin: 25px 0;
	}
	.free{
		padding: 0;
	}
	.step__title{
		margin: 25px 0;
	}
	.step{
		padding-bottom: 10px;
	}
	.sent{
		padding-bottom: 25px;
	}
	.header__menu{
		display: none;
	}
	.license__text{
		margin-top: 30px;
	}
	.license__text_left{
		margin-top: -230px;
		margin-bottom: 120px;

	}

	.license__title{
		margin: 25px 0;
		margin-bottom: 0px;
	}
	.univer__text{
		text-align: center;
		margin: 0;
		margin-top: 230px;
		margin-bottom: -230px;
	}
	.univer__title{
		margin-bottom: 10px;
	}
	.univer__img{
		margin: 0;
		margin-bottom: 30px;
	}
	.univer{

	}
	.need{
		margin-top: 50px;
	}
	.need__item{
		background: url(../img/Calendar-small.png) no-repeat;
		font-size: 12px;
		width: 35px;
		height: 25px;
		padding-top: 10px ;
		margin-right: 5%;
	}	
	.need__icon{
		width: 15px;
		top:25px;
		left:16px;
	}
	.free__item{
		margin-left: 0px;
		margin-right: 0px;
		min-width: 600px;
		width: 80%;
		float: none;
		margin: 20px auto;
		
	}
	
	.free__button{
		width: auto;
		font-size: 16px;
	}
	.free__item:nth-child(3){
		margin: 25px auto;
	}

	.sent__line{
		margin-bottom: 25px;
	}

	.sent__name{
		

	}
	.sent__line_name{
		margin: 0px auto 25px auto;
		
	}
	.sent__tel{

	}
	.sent__line_tel{
		margin: 0px auto 25px auto;
	}
	.sent__button{
		margin: 0px auto;
	}
	.sent__title{
		margin: 25px 0;
	}
	.help{
		min-width: 780px;
	}
	.info__icon{
	margin-right: 10px;
	font-size: 15px;
	}
	.info__container{
		min-width: 260px;
	}
	.map{
		width: 480px;
		margin-left: 15px;
	}
	.ask{
	margin-bottom: 50px;
}
	footer{
	padding: 50px 0px 40px 25px;
}

}

@media screen and (max-width: 1050px){
	.header__tel{
		font-size: 15px;
	}
	.header__ardess{
		font-size: 12px;
	}
	.info__title{
		font-size: 25px;
	}
	h2{
		font-size: 28px;
	}
	.header__title{
		text-align: center;
		margin-bottom: 35px;
	}
	.info{
		margin: 25px auto;
		margin-top: 50px;
	}
	.what__img{
		margin-bottom: 25px;
	}
	.what__text{
		margin: 10px 0;
		text-align: center;
	}
	.what__title{
		margin-bottom: 10px;
	}

	.about__img{
		margin-bottom: 25px;
		margin-top: 25px;
	}
	.about__text{
		margin: 10px 0;
		text-align: center;
	}
	.about__title{
		margin-bottom: 0px;
	}
	.univer__title{
		margin-top: 0;
	}

}


@media screen and (max-width: 768px){
	.header__flag_Siera{
		margin-left: 15%;
	}
	.header__logo{
		float: left;
	}
	.header__number{
		float: right;
	}
	.header__tel{
		width: 180px;
		font-size: 12px;
		padding: 0;
		padding-left: 3px;
	}
	.Header__phone-number{
		margin: 0;
		margin-left: -5px;
	}
	.header_adress{
		float: right;
		margin: 0px auto;
	}

	header{
		padding: 28px 0 85px 0;
	}
	.header__tel{
		font-size: 12px;
	}
	.header__ardess{
		font-size: 10px;
	}
	.info{

	}
	.info__title{
		font-size: 20px;
		margin: 0;
	}
	h2{
		font-size: 20px;
	}
	
	.header__button{
		font-size: 15px;
	}		
	.info{
		margin: 0 auto;
		padding: 10px 15px;
		max-width: 500px;
	}
	.what__text{
		font-size: 10px;
		line-height: 10px;
	}
	
	.about__text{
		font-size: 10px;
		line-height: 10px;
	}
	.get__name{
		font-size: 12px;
	}
	.get__info{
		font-size: 9px;
		margin-bottom:15px;
	}
	.get__text{
		font-size: 10px;
		float: none;
		text-align: center;
		margin: 10px 0;

	}
	.get__container{
		padding: 50px 23px;
		max-width: 100%;
		margin: 0px auto;
	}	
	.get__item{
		
	}
	.get__img{
		float: none;
		margin:0;
		width: 100%;
	}
	.get__button{
		font-size: 12px;
		margin-bottom: 0px;
		margin-top: 0px;
	}
	.get__title{
		margin-top: 
	}
	.get__button_white{
		margin-bottom: -75px;
		width: 200px;
	}
	.get__list{
		padding: 0 5%;
	}
	.get__title{
		margin-top: -80px;
		width: 400px;
	}

	.team__item{
		float: none;
		width: 95%;
	}
	.team__img{
		width: 50%;
	}

	.team__info{
		margin-top: 20%;
		width: 40%;
		font-size: 12px;
		line-height: 15px;
	}


	.team__left .team__img{
		float: left;
	}
	.team__left .team__info{
		float: right;
	}
	.team__left .team__info .team__text{
		text-align: left;
	}
	.team__left .team__info .team__name{
		text-align: left;
	}
	.team__right .team__info .team__text{
		text-align: right;
	}
	.team__right .team__info .team__name{
		text-align: right;
	}

	.team__right .team__img{
		float: right;
	}
	.team__right .team__info{
		float: left;
	}
	.team__item{
		margin: 35px 0;
	}
	.team__title{
		margin: 25px 0;	

		}
	.about__img{
		display: none;

	}
	.about__text{
		text-align: left;
	}
	.license__text{
		text-align: left;
		font-size: 12px;

	}

	.need__text{
		font-size: 12px;
	}
	
	.need__button{
		font-size: 12px;
	}
	.need__item{
		margin-right: 0;
		margin-left:55px;
	}
	.need__button{
		width: auto;
	}
	.free__item{
		margin: 25px auto;
		min-width: 600px;
	}
	.free__text{

	}
	.sent__line{
		width: 200px;
	}
	.sent__input{
		padding-left: 30px;
	}
	.sent__title{
		margin: 15px 0;
	}
	.info__container{
		float: none;
	}
	.map{
		float: none;
		max-width: 100%;
		width: 100%;
		margin-left: 0;
		height: 350px;
	}
	.info__icon{
		margin-left: 25%;
	}
	.help{
		min-height:465px; 
		padding: 1px 0 0 0;
		min-width: 90%;
	}
	.info__text_first{
		margin-top: 10px;
	}
	.info__container{
		margin-top: 0;
	}
	.info{
		margin-top: 50px;
	}
	.footer__logo{
	float: none;
	display: block
	margin: 10px auto;
}
	.footer__text{
	float: none;
	display: block;
	margin: 10px auto;
}
	footer{
		padding: 25px 0;
	}
	.header__icon{
		margin: 5px 5px 0 0;
	}


}

@media screen and (max-width: 500px){
	.map{
		
		height: 250px;
	}
	.help{
		max-height:345px; 
	}
	.team__img{
		max-width: 50%;
	}
	.step__circle{
		width: 47px;
		height: 47px;
	}
	.step__masage{
		width: 50px;
		margin: 0px 0 0 0;
	}
	.step__arrow{
		height: 25px;
		margin-bottom: 5px;
	}
	.step__hand{
		width: 35px;
	}
	.step__text{
		font-size: 10px;
		line-height: 12px;
	}
	.step__text_third{
		margin-top: 90px;
		margin-left: -10px;
	}
	.step__text_second{
		margin-top: 140px;
		margin-right: -15px;
	}
	.step__text_first{
		margin-right: -15px;
	}
	.info{
		margin-top: 30px;
		padding: 9px 5px 10px 5px;
		max-width: 400px;
	}

	.footer__text{
		font-size: 12px;
	}

}

@media screen and (max-width: 500px){
	.get__item{
		float: none;
		margin: 5px auto;
	}
	.get__line{
		margin: 0px auto;
	}
	.get__title{
		margin-top: -100px;
		width: 160px;
	}
	.header__title{
		font-size: 20px;
		line-height: 24px;
	}
	.info__icon{
		margin-left: 15%;
	}
}

@media screen and (max-width: 700px){
	.need__item{
		margin-left:45px;
	}
	.need__item:nth-child(1){
		margin-left: 15px;
	}
	.header__flag_Siera{
		margin-left: 12%;
	}
	
}

@media screen and (max-width: 630px){
	.need__item{
		margin-left:40px;
	}
	.free__item{
		margin: 20px auto;
		min-width: 500px;
	}
	.header__flag_Siera{
		margin-left: 8%;
	}

}

@media screen and (max-width: 600px){
	.need__item{
		margin-left:35px;
	}
	.header__flag_Siera{
		margin-left: 5%;
	}

}

@media screen and (max-width: 565px){
	.need__item{
		margin-left:30px;
	}
	.info__text{
		font-size: 12px;
	}
	.help{
		min-height: 440px;
	}

	
	header{
		padding-top: 0;
	}
	.header__logo{
		display: none;
	}
	.header__logo_mini{
		display: block;
		float: left;
		margin-top:40px;
		margin-right: 60px; 
	}
}

@media screen and (max-width: 535px){
	.need__item{
		margin-left:25px;
	}
	.free__item{
		margin: 15px auto;
		min-width: 400px;
	}
	.sent__input{
		font-size: 12px;
	}
	.sent__button{
		font-size: 12px;
	}
	.header__logo_mini{
		
		margin-right: 45px; 
	}
}

@media screen and (max-width: 505px){
	.need__item{
		margin-left:20px;
	}
	.header__logo_mini{
		
		margin-right: 30px; 
	}
	.help{
		min-height:345px;

}

@media screen and (max-width: 475px){
	.need__item{
		margin-left:15px;
	}
	.need__item:nth-child(1){
		margin-left: 5px;
	}
	.license__text_left{
		margin-top: -425px;
		margin-bottom: 320px;
	}
	.header__logo_mini{
		
		margin-right: 15px; 
	}

}

@media screen and (max-width: 445px){
	.need__item{
		margin-left:10px;
	}

	.header__flag:nth-child(2){
		margin: 130px 5px 0 5px;
	}
	.header__flag:nth-child(1){
		margin: 132px 5px 0 35px;
	}
	.header__number{
		margin-left: -30px;
	}

}
@media screen and (max-width: 415px){
	.need__item{
		margin-left:10px;
	}
	.team__name{
		font-size: 13px;
		line-height: 16px;
	}
	.free__item{
		margin: 10px auto;
		min-width: 300px;
		padding: 21px 0px 33px 0px;
	}
	.free__item:nth-child(2){
		padding-left:0px;
		padding-right: 0px;
		min-width: 300px;
		width: 300px;
	}
	.free__text{

	}
	.info__icon{
		margin-left: 10px;
	}
	.header__number{
		margin-left: -50px;
	}

}
@media screen and (max-width: 385px){
	.need__item{
		margin-left:5px;
	}
	.need__item:nth-child(1){
		margin-left: 2px;
	}
	.header__number{
		margin-left: -80px;
	}
	.header__flag:nth-child(1){
		margin: 132px 5px 0 5px;
	}
}

}
@media screen and (max-width: 365px){
	.need__item{
		margin-left:2px;
	}
	.need__item:nth-child(1){
		margin-left: 0px;
	}
	.step__text_third{
		margin-left: -0;
	}

}

@media screen and (max-width: 360px){
	.need__item{
		margin-left:0px;
	}
	.step__text_third{
		margin-left: 2px;
	}
	

}
@media screen and (max-width: 330px){
	.need__item{
		margin-left:-2px;
	}
	.free__item{
		margin: 10px auto;
		min-width: 250px;
	}
	.free__item:nth-child(2){
		min-width: 250px;
		width: 250px;
	}
	.header__logo_mini{
		margin-right: 0;
	}
	
}
	
