@font-face {
  font-family: "Muller";
  src: url("../fonts/MullerRegular.ttf");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Muller";
  src: url("../fonts/MullerBold.ttf");
  font-weight: bold;
  font-style: normal;
};